from daqpytools.logging.logger import get_daq_logger


def main() -> None:
    """
    Implement the main entry point for {{ APPLICATION }}.

    Show a log record so the developer can see where to put their entry point.
    The following lines should be populated by the developer.
    """
    log = get_daq_logger(
        logger_name="{{ APPLICATION }}",
        rich_handler=True
    )
    log.setLevel("INFO")
    log.info("Here is the entry point of {{ APPLICATION }}")
    return

if __name__ == "__main__":
    """
    Main entry point for application {{ APPLICATION }}.
    Any entry points specified in `click` should wrap the function `main`.
    """
    main()
